*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: inline-flex;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.container-block {
    display: block;
}

.container-flex {
    display: flex;
}

.container-total {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.container-flex-spaced {
    justify-content: space-between;
    align-items: baseline;
}


.header {
    font-family: 'Lato', sans-serif;
    padding: 20px 0;
}

.header-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: rgba(31, 31, 31, 1);
    cursor: pointer;
}

.header-list-item a {
    text-decoration: none;
    color: #1f1f1f;
    margin: 0 12px;
    padding: 12px 12px;
    transition: .5s all;
}

.header-list-item:hover{
    text-decoration-line: underline;
}

.header-search {
    -webkit-appearance: none;
    appearance: none;
    background: #F2F2F2;
    background-image: url(../img/Search.svg);
    background-repeat: no-repeat;
    background-position: 12px 12px ;
    border-radius: 50px;
    border:0px;
    width: 232px;
    height: 52px;
    padding: 16px 52px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    vertical-align: middle;
}

.header-search::before {
    content: icon;
}
.header-cart {
    display: inline-flex;
    margin-left: 24px;
    vertical-align: bottom;
    cursor: pointer;
}

.main-section {
    display: inline;
    width: 60%;
}

.main-section img {
    display: inline-flex;
    margin-top: 80px;
}

.main-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 104px;
    font-weight: bold;
    line-height: 125px;
    max-width: 490px;
    color: #9f9f9f;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-margin-top: 91;
    margin-bottom: 24px;
    margin-top: 91px;
}

.main-paragraph {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    font-weight: normal;
    line-height: 28px;
    color: #1F1F1F;
    margin-bottom: 108px;
    margin-right: 0cm;
    max-width: 490px;
}

.button__add-to-cart {
    appearance: none;
    background: none;
    background-image: url(../img/Plus.svg);
    background-repeat: no-repeat;
    background-position: 238px 21px;
    padding-left: 32px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    width: 300px;
    height: 70px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: -webkit-left;
}

.aside-section {
    background-color: #f3f3f3;
    background-position: center;
    position: relative;
    height: 767px;
    width: 1200px;
    background-repeat: no-repeat;  
    margin-top: 140px;
    border-radius: 8px;

}

.aside-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    padding-top: 54px;
    text-align: center;
}

.aside-list {
    padding: 64px 0px 32px;
    transition: .5s all;
    margin: 0px 488px;
}

.aside-list a{
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
}

.aside-list a:hover,
.aside-list a:focus {
    opacity: 25%;
}

.aside-img {
    display: flex;
    align-items: center;
    padding: 0px 368px;
    
}

.aside-span {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #1F1F1F;
    
    display: block;
}

.button__add-to-cart2 {
    appearance: none;
    background: none;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    width: 300px;
    height: 70px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;

    align-items: center;
    margin: 52px 452px 0px;
}

.la-section img {
    width: 600px;
    height: 520px;
    margin: 140px 0px 0px 130px;
    padding: 0px;
    justify-items: right ;
}

.la-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 55px;
    text-align: left;
    font-weight: bold;
    line-height: 80px;
    color: #9f9f9f;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-margin-top: 240;
    margin-bottom: 56px;
    margin-top: 160px;       
}

.la-paragraph {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    line-height: 28px;
    max-width: 490px;
}

.ai-section img {
    width: 600px;
    height: 520px;
    margin: 140px 130px 0px 0px; 
    justify-content: around;
}

.ai-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 55px;
    text-align: left;
    font-weight: bold;
    line-height: 80px;
    color: #9f9f9f;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-margin-top: 240;
    margin-bottom: 56px;
    margin-top: 160px;       
}

.ai-paragraph {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    line-height: 28px;
    max-width: 490px;
}

.se-section img {
    width: 600px;
    height: 520px;
    margin: 140px 0px 0px 130px;
    justify-items: right ;
}

.se-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 55px;
    text-align: left;
    font-weight: bold;
    line-height: 80px;
    color: #9f9f9f;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-margin-top: 240;
    margin-bottom: 56px;
    margin-top: 160px;       
}

.se-paragraph {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    line-height: 28px;
    max-width: 490px;
}

.section-run {
    background-image: url('../img/runner.jpg');
    background-position: cover;
    position: relative;
    padding-top: 50px;
    padding-left: 32px;
    height: 620px;
    background-repeat: no-repeat; 
    display: block;
    
    margin:140px auto;
}

.section-run img {
    width: 45px;
    height: 45px;
    vertical-align: super;
}

.aside__run-span {
    font-style: normal;
    font-weight: bold;
    font-size: 104px;
    line-height: 104px;
    color: white;
    letter-spacing: -0.02em;
    text-align: left;
}

.aside__run-span1 {
    font-style: normal;
    font-weight: bold;
    font-size: 104px;
    line-height: 104px;
    color: white;
    letter-spacing: -0.02em;
    text-align: left;
}

.form_layout {
    background: #F3f3f3;
    background-image: url(../img/map1.jpg);
    background-position-x: left;
    background-repeat: no-repeat;
    border-radius: 8px;
    border:0px;
    width: 1200px;
    height: 838px;
    padding-left: 729px;
    padding-top: 40px;
    margin-bottom: 140px;
}

.form-title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    align-items: center;
    color: #1F1F1F;
}
.input {
    appearance: none;
    background-color: #FFFFFF ;
    width: 430px;
    height: 73px ;
    border: 1px solid #F3F3F3;
    border-radius: 12px;
    outline: #F3F3F3;
    padding-left: 20px;
    padding-right: 20px;


    display: block;
}

.input:focus {
    box-shadow: 0px 0px 10px 0px #000111;
    opacity: 70%;
    transition:.5s all;

}

.textarea {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF ;
    width: 430px;
    height: 73px ;
    border: 1px solid #F3F3F3;
    border-radius: 12px;
    outline: #F3F3F3;
    max-width: 430px;
    min-height: 200px;

    padding-left: 20px;
    padding-top: 20px;
    margin-top: 35px ;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    padding-left: 25px ;
    margin-top: 10px;
}
.checkbox-layout {
    width: 25px;
    height: 25px;

    background: #FFFFFF;
    border: 2px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 4px;

}

.checkbox-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    padding-left: 15px;


    color: #969696;
}

.form-button {
    appearance: none;
    background: none;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    width: 430px;
    height: 70px;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
}

.footer_ul {
    list-style: none;
    display: inline-block;
}

.footer-sneak {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    color: #1F1F1F;
    cursor: pointer;
}

#myFooter {
    background-color: #F3F3F3;
    color: #1F1F1F;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color:#1F1F1F;;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color:#1F1F1F;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #1F1F1F;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration-line: underline;
}

#myFooter .second-bar {
    text-align: left;
    background-color: #F3F3F3;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #1F1F1F;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}